@charset "utf-8";

ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif;}
table{border-collapse:collapse;border-spacing:0;}

#carousel UL {LIST-STYLE: none none outside}
#carousel .frame {WIDTH: 442px; POSITION: relative; HEIGHT: 178px; overflow:hidden; margin:0px auto 0 auto;}
#carousel .frames {WIDTH: 2060px; POSITION: relative; HEIGHT: 310px}
#carousel .frame-2 {LEFT: 715px; OVERFLOW: hidden; WIDTH: 442px; POSITION: absolute; HEIGHT: 310px}
#carousel .frame-3 {LEFT: 1460px; OVERFLOW: hidden; WIDTH: 442px; POSITION: absolute; HEIGHT: 310px}
#carousel .frame-4 {LEFT: 2190px; OVERFLOW: hidden; WIDTH: 442px; POSITION: absolute; HEIGHT: 310px}
#carousel .frame-5 {LEFT: 2920px; OVERFLOW: hidden; WIDTH: 442px; POSITION: absolute; HEIGHT: 310px}

#carousel .controls {DISPLAY: block;  WIDTH: 445px; CURSOR: hand;HEIGHT: 45px; background:url(/inc/pics/hd.gif) no-repeat; margin:0 auto;}
#carousel .overlay {BORDER-RIGHT: #ededed 5px solid; BORDER-TOP: #ededed 5px solid; DISPLAY: none; FILTER: alpha(opacity=90); BORDER-LEFT: #ededed 5px solid; WIDTH: 188px; CURSOR: hand; BORDER-BOTTOM: #ededed 5px solid; POSITION: absolute; HEIGHT: 118px; BACKGROUND-COLOR: #fff; opacity: .9}
#carousel .two-overlay {HEIGHT: 141px}
#carousel .olines {HEIGHT: 122px}
#carousel .two-olines {HEIGHT: 142px}
#carousel .sdw {BORDER-RIGHT: #666 2px solid; BORDER-TOP: #666 0px solid; DISPLAY: block; LEFT: -5px; BORDER-LEFT: #666 0px solid; WIDTH: 196px; BORDER-BOTTOM: #666 2px solid; POSITION: absolute; TOP: -5px; HEIGHT: 127px; opacity: .8}
#carousel .two-sdw {HEIGHT: 151px}
#carousel .slines {HEIGHT: 126px}
#carousel .two-slines {HEIGHT: 149px}
#carousel .details {PADDING-RIGHT: 17px; DISPLAY: block; PADDING-LEFT: 17px; PADDING-BOTTOM: 17px; FONT: 12px arial; WIDTH: 163px; PADDING-TOP: 17px; HEIGHT: 93px}
#carousel .dlines {HEIGHT: 97px}
#carousel .two-dlines {HEIGHT: 137px}
#carousel .title {PADDING-BOTTOM: 8px; FONT: bold 15px "Trebuchet MS"; BORDER-BOTTOM: #ccc 1px solid}
#carousel .priceMsg {PADDING-BOTTOM: 1px; COLOR: #333; PADDING-TOP: 4px}
#carousel .price {FONT: bold 15px arial}
#carousel .legal {FONT: 11px arial; COLOR: #666}
#carousel .terms {FLOAT: right; WIDTH: 80px}
#carousel .content {PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px; FILTER: alpha(opacity=80); PADDING-BOTTOM: 5px; WIDTH: 695px; PADDING-TOP: 5px; POSITION: absolute; TOP: 258px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: justify; opacity: .8}
#carousel .double-des {PADDING-BOTTOM: 12px}
#carousel .des {COLOR: #1161b7; PADDING-TOP: 12px}
#carousel .selected {FLOAT: left; FONT: 12px "宋体"; MARGIN-LEFT: 5px; WIDTH: 104px; COLOR:#FFFFFF; POSITION: relative; HEIGHT: 30px; text-align:center;line-height:30px; background:url(/inc/pics/on.gif) no-repeat;}
#carousel .off {FLOAT: left; FONT: 12px "宋体"; MARGIN-LEFT: 5px; WIDTH: 104px; COLOR:#333333; POSITION: relative; HEIGHT: 30px;text-align:center;line-height:30px;}
#carousel .on {FLOAT: left; FONT: 12px "宋体"; MARGIN-LEFT: 5px; WIDTH: 104px; COLOR: #FFFFFF; POSITION: relative; HEIGHT: 30px;text-align:center; background:url(/inc/pics/on.gif) no-repeat; line-height:30px;}
#carousel .arrow {FLOAT: left; WIDTH: 12px; HEIGHT: 20px}
#carousel .l-a {BACKGROUND: url(/inc/pics/sprFilmstripArrows.gif) no-repeat 0px -22px}
#carousel .l-h {BACKGROUND: url(/inc/pics/sprFilmstripArrows.gif) no-repeat 0px -47px}
#carousel .r-a {BACKGROUND: url(/inc/pics/sprFilmstripArrows.gif) no-repeat 0px -97px}
#carousel .r-h {BACKGROUND: url(/inc/pics/sprFilmstripArrows.gif) no-repeat 0px -122px}
